html {
  background: #ececec;
  scroll-behavior: smooth;

}

body{

  overflow: hidden; /* Hide scrollbars */
}
#selfpre{
  background-image: url("../Picture/milkyway.jpeg");
  background-repeat: no-repeat;
  background-size:  100vw 100vh;
  height: 100vh;
}

#imageG{
  background-image: url("../Picture/Imageportfolio1.png");
  position: fixed;
  background-repeat: no-repeat;
  background-size:100% 100%;;
  width:100%;
  height:100%;
  right: 100vw;
}

#imageD{
  background-image: url("../Picture/Imageportfolio2.png");
  position: fixed;
  background-repeat: no-repeat;
  background-size:100% 100%;;
  width:100%;
  height:100%;
  left: 100vw;
}

#bgp{
 /*background-image: url('../Picture/Imageportfolio.jpg');*/
  background-color: #202225;
 background-repeat: no-repeat;
 background-size:contain;
  font-family: 'Roboto', sans-serif;
  width:100%;
  height:100%;
  font-size:28px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav-link{
 padding: 6px;
}

.textac{
  text-align: center;
}
.spacer{
  padding-top: 100px;
}
.cardcolor{
  background-color: rgba(50, 50, 50,0.8);
  color: rgba(255,255,255,0.9);
}
.margtop{
  margin-top: 20px;
}
.grad{
  background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0,0,0,0.3),rgba(0, 0, 0, 0.9));
  height:100vh;
}
.pfp{
  width: 40%;
  padding-top: 20px;

}
.menuH1{
  position: absolute;
  padding: 1%;
  font-family: 'Raleway', sans-serif;
  color: rgba(255,255,255,0.9);
  background-color: rgba(0,0,0,0.6);
  font-weight: 600;
  border: 4px solid rgba(255,255,255, 0.6);
  border-radius: 4px;
  margin-top: 200px;
}
.minInteret{
  min-height: 300px;
}
.intro{
  display:flex;
  flex-direction:row;
  padding: 2%;
  color: rgba(255,255,255,0.9);
  font-family: 'Annie Use Your Telescope', sans-serif;
  font-weight: 600;
  border-radius: 4px;
  line-height: 24px;
  letter-spacing: 1px;
}
.intro2{
  padding-left: 10px;
  color: #00b0f4;
  font-family: 'Annie Use Your Telescope', sans-serif;
  font-weight: 600;
  border-radius: 4px;
  line-height: 24px;
  letter-spacing: 1px;
}
.flex{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.soustitre{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 0px;

}
.indeks{
  border-bottom: 2px solid white;
  padding: 0.2em 0;
  width: 0.6em;
  animation: indeks 0.7s infinite;
}


@keyframes indeks{
  0%{
    opacity:0;
  }
  100%{
    opacity:1;
  }
}

.nameP{
	color: rgba(255,255,255,0.9);
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	font-size: 50px;
}

.padbot{
  padding-bottom: 20px;
}


/*--------------------------------------------*/
.centerBox{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px
}

.categoryWrapper{
  height: 500px;
  width: 800px;
  background: url("http://ohlookawebsite.com/bathroomtestfull.jpg") no-repeat center center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.categoryWrapper:after{
  position: absolute;
  top:0;
  left: 0;
  right:0;
  bottom: 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#a29ca9+0,95909b+99 */
  background: #a29ca9; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #a29ca9 0%, #95909b 99%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #a29ca9 0%,#95909b 99%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #a29ca9 0%,#95909b 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a29ca9', endColorstr='#95909b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.9s ease 0s;
}

.categoryWrapper:hover:after{
  opacity: 0.4;
}

.categoryWrapper h1{
  color:white;
  font-size: 50px;
  letter-spacing: 2px;
  -webkit-transition: all 0.15s ease 0s;
  position: relative;
  z-index: 10;
}

.categoryWrapper:hover h1{
  transform: translateY(-10px);
}

.categoryWrapper:hover>.intro>.intro2{
    color: #00a0d4;
}

.categoryWrapper button{
  position: absolute;
  transform: translatey(60px);
  -webkit-appearance: none;
  border: none;
  background: none;
  color:white;
  width: 250px;
  height:50px;
  font-size: 20px;
  padding: 0;
  padding-top: 25px;
  margin: 0;
  outline: none;
  z-index: 10;
}

.categoryWrapper button span{
  display: block;
  position: relative;
  line-height: 50px;
  height: 50px;
  cursor: pointer;
}

.categoryWrapper button > span:after{
  content:'';
  position: absolute;
  top:0;
  left: 50%;
  width: 20px;
  height: 0;

  border: 1px solid white;
  border-left: none;
  border-bottom: none;

  transition: height 0.15s ease-out, width 0.15s ease-out 0.15s;
}

.categoryWrapper:hover button > span:after{
  width: calc(50% - 1px);
  height: calc(100% - 2px);
  transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
}

.categoryWrapper button > span:before{
  content:'';
  position: absolute;
  top:0;
  right: 50%;
  width: 20px;
  height: 0;

  border: 1px solid white;
  border-right: none;
  border-bottom: none;

  transition: height 0.15s ease-out, width 0.15s ease-out 0.15s;
}

.categoryWrapper:hover button > span:before{
  width: calc(50% - 1px);
  height: calc(100% - 2px);
  transition: width 0.15s ease-out, height 0.15s ease-out 0.15s;
}

.categoryWrapper button > span > span:before{
  content:'';
  position: absolute;
  bottom:0;
  right: 0%;
  width: 1px;
  height: 1px;
  opacity: 0;

}

.categoryWrapper:hover button > span > span:before{
  opacity: 1;
  border-bottom: 1px solid white;
  width: calc(50%);
  height: 1px;
  transition: opacity 0s ease-out 0.29s, width 0.15s ease-out 0.3s;
}

.categoryWrapper button > span > span:after{
  content:'';
  position: absolute;
  bottom:0;
  left: 0%;
  width: 1px;
  height: 1px;
  opacity: 0;

}

.categoryWrapper:hover button > span > span:after{
  opacity: 1;
  border-bottom: 1px solid white;
  width: calc(50%);
  height: 1px;
  transition: opacity 0s ease-out 0.29s, width 0.15s ease-out 0.3s;
}

.categoryWrapper button > span > span > span{
  transition: color 0.15s ease-out 0.3s;
  color: transparent;
}

.categoryWrapper:hover button > span > span > span{
  color:white;
}

.categoryWrapper button > span > span > span:after{
  position: absolute;
  top:0;left:0;right:0;bottom:0;
  color:#1f2e4d;
  content: attr(data-attr-span);
  width: 0%;
  height: 100%;
  background:white;
  white-space: nowrap;
  text-align: center;
  margin: auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  transition: width 0.2s;
}

.categoryWrapper button:hover > span > span > span:after{
  width: 100%;
}

/* - --------------------------------------------------------- - */

html body [data-ca3_iconfont="ETmodules"]::before {
    font-family: "ETmodules";
}
[data-ca3_icon]::before {
    font-weight: normal;
    content: attr(data-ca3_icon);
}

.ca3-scroll-down-arrow {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0iQ2hldnJvbl90aGluX2Rvd24iIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgMCAwIDIwIDIwIiBmaWxsPSJ3aGl0ZSIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+PHBhdGggZD0iTTE3LjQxOCw2LjEwOWMwLjI3Mi0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwYzAuMjcsMC4yNjgsMC4yNzEsMC43MDEsMCwwLjk2OWwtNy45MDgsNy44M2MtMC4yNywwLjI2OC0wLjcwNywwLjI2OC0wLjk3OSwwbC03LjkwOC03LjgzYy0wLjI3LTAuMjY4LTAuMjctMC43MDEsMC0wLjk2OWMwLjI3MS0wLjI2OCwwLjcwOS0wLjI2OCwwLjk3OSwwTDEwLDEzLjI1TDE3LjQxOCw2LjEwOXoiLz48L3N2Zz4=);
  background-size: contain;
  background-repeat: no-repeat;
}
.ca3-scroll-down-link {
  display: none;
  cursor:pointer;
  height: 60px;
  width: 80px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin: 0px 0 0 -40px;
  line-height: 60px;
  position: absolute;
  left: 50%;
  bottom: 5%;
  color: #FFF;
  text-align: center;
  font-size: 70px;
  z-index: 100;
  text-decoration: none;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);

  -webkit-animation: ca3_fade_move_down 2s ease-in-out infinite;
  -moz-animation:    ca3_fade_move_down 2s ease-in-out infinite;
  animation:         ca3_fade_move_down 2s ease-in-out infinite;
}


/*animated scroll arrow animation*/
@-webkit-keyframes ca3_fade_move_down {
  0%   { -webkit-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -webkit-transform:translate(0,20px); opacity: 0; }
}
@-moz-keyframes ca3_fade_move_down {
  0%   { -moz-transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { -moz-transform:translate(0,20px); opacity: 0; }
}
@keyframes ca3_fade_move_down {
  0%   { transform:translate(0,-20px); opacity: 0;  }
  50%  { opacity: 1;  }
  100% { transform:translate(0,20px); opacity: 0; }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width : none;
}
::-webkit-scrollbar{
  width: 0;
}

.padtop {
  color: rgba(255,255,255,0.9);
  font-family: 'Raleway', sans-serif;
  font-size: 52px;
  font-weight: 600;
  text-transform: uppercase;
  padding-top: 5px;
}
